@font-face {
    font-family: 'peppa_pigmedium';
    src:    url('../font/peppa_pig-webfont.woff2') format('woff2'),
            url('../font/peppa_pig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'peppa_pigmedium';
    height: 100%;
    width: 100%;
}

#playfield {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
    background-color: deepskyblue;
    height: 600px;
    width: 800px;
    border-radius: 10%;
    overflow: hidden;
}

#computer {
    pointer-events: none;
    background-color: none;
    box-sizing:border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
    height: 600px;
    width: 800px;
    border: 15px solid #b3b300;
    border-radius: 10%;
}

#start {
    position: relative;
    color:  #ffff4d;
    background-color: #ff1a1a;
    border: none;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 150px;
    border-radius: 50%;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#start:hover {
    border: 15px dotted white;
}

#start:active {
    background-color: #8600b3;
}

#score {
    z-index: -1;
    position: absolute;
    color:  white;
    background-color: blue;
    border: none;
    padding: 10px 20px 0px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border-radius: 45%;
    top: 15%;
    left: 85%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#mother {
    position: relative;
    height: 100px;
    width: auto;
    z-index: 9999999999999;
}

.egg {
    position: absolute;
    height: 50px;
    width: auto;
}