@font-face {
    font-family: 'peppa_pigmedium';
    src:    url('../font/peppa_pig-webfont.woff2') format('woff2'),
            url('../font/peppa_pig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #3366cc;
    font-family: 'peppa_pigmedium';
    height: 100%;
    width: 100%;
}

/* in-game css */

#playfield {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
    background-color: deepskyblue;
    height: 600px;
    width: 800px;
    border-radius: 7%;
    overflow: hidden;
}

#start {
    position: relative;
    color:  #ffff4d;
    background-color: #ff1a1a;
    border: none;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 150px;
    border-radius: 50%;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#start:hover {
    border: 15px dotted white;
}

#start:active {
    background-color: #8600b3;
}

#chicken {
    position: relative;
    height: 100px;
    width: auto;
    z-index: 9999999999999;
}

.egg {
    position: absolute;
    height: 50px;
    width: auto;
}

#score {
    z-index: -1;
    position: absolute;
    color:  white;
    background-color: blue;
    border: none;
    padding: 10px 20px 0px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border-radius: 45%;
    top: 15%;
    left: 85%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#star {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.animate-star {
    animation: star 0.5s linear;
}

@keyframes star {
    0%   {transform: scale(1) rotate(0deg);}
    100% {transform: scale(7) rotate(120deg);}
}

.animate-chicken {
    animation: chicken 0.7s linear;
}

@keyframes chicken {
    0%   {transform: scale(1) rotate(0deg);}
    70%  {transform: scale(8) rotate(-360deg);}
    100% {transform: scale(1) rotate(-360deg);}
}

/* background CSS */

#wall_and_table_border {
    background-color: #df9fdf;
    height: 600px;
    border-bottom: 12px solid #24478f;
}

#screen_border {
    pointer-events: none;
    background-color: none;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
    height: 600px;
    width: 800px;
    border: 12px solid #b3b300;
    border-radius: 7%;
}

#computer_screen {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -380px;
    margin-left: -500px;
    background-color: #ffffb3;
    height: 780px;
    width: 1000px;
    border-radius: 7%;
    border: 12px solid #b3b300;
    box-sizing: border-box;
}